
*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

body *{
    border: 2px solid red;
    
    }


.header{
    display:flex;
    font-size:24px;
    color:white;
    height: 100%;
    width:100%;
    
}


.section{
    
    background-color: #1F2937;
    height: 100%;
    width:100%;
    color:white;



}



.content{
    display
    background-color: #1F2937;
    padding:40px;
    height: 100%;
    width:100%;

   
    
}

.signup-button{

    display:flex;
    justify-content: center;
    height: 100%;
    width:100%;

}

.navigation{
    display:flex;
    flex:1;
    height: 100%;
    width:100%;
    justify-content: end;
    

    


}



.below-header{
    display:flex;
    font-size:24px;
    justify-content: center;
    font-weight:bolder;
    margin:30px;
    height: 100%;
    width:100%;


    
}



.box{
    display:flex;
    height:100px;
    width:600px;
    margin:px;
    padding:40px;
    
    justify-content: center;
    justify-content: space-around;
    height: 100%;
    width:100%;



}

.box1{
    display:flex;
    height:100px;
    width:100px;
    margin:10px;
    
    

}


.box2{
    display:flex;
    height:100px;
    width:100px;
    margin:10px;
   
    

}

.box3{
    display:flex;
    height:100px;
    width:100px;
    margin:10px;
    

}

.lower-part{

}