
*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

.header{
    font-size:24px;
    color:white;
    justify-content:end;


}


.section{
    display:flex;
    background-color: #1F2937;


}



.content{
    background-color: #1F2937;
   
    
}

.navigation{
    display:flex;
    width:50%;
    flex-direction:row;

    
}

.signup-button{
    display:flex;
    justify-content: flex-start;

    
   

}