
*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

body *{
    border: 2px solid red;
    
    }


.header{
    font-size:24px;
    color:white;
    height: 100%;
    width:100%;

}


.section{
    display:flex;
    background-color: #1F2937;
    height: 100%;
    width:100%;



}



.content{
    display
    background-color: #1F2937;
    padding:40px;
    height: 100%;
    width:100%;

   
    
}

.signup-button{

    display:flex;
    justify-content: center;
    height: 100%;
    width:100%;

}

.navigation{
    display:flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;
    width:100%;


}

.below-header{
    display:flex;
    font-size:24px;
    justify-content: center;
    font-weight:bolder;
    margin:30px;
    height: 100%;
    width:100%;


    
}



.box{
    
    height:100px;
    width:600px;
    margin:px;
    padding:40px;
    
    justify-content: center;
    height: 100%;
    width:100%;


}

.box1{
    display:flex;
    height:100px;
    width:100px;
    margin:10px;
    
    

}


.box2{
    display:flex;
    height:100px;
    width:100px;
    margin:10px;
   
    

}

.box3{
    display:flex;
    height:100px;
    width:100px;
    margin:10px;

}
